<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [color]="'light'">
  <ion-header collapse="condense" class="p-2">
    <ion-toolbar [color]="'light'">
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <app-avatar-banner></app-avatar-banner>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list [inset]="true" class="shadow-1">
          <ion-item *ngrxLet="themeService.isDarkMode$ as isDarkMode">
            <ion-toggle
              [color]="'success'"
              [value]="isDarkMode"
              (ionChange)="themeService.enableDarkMode(!isDarkMode)"
              >Dark mode</ion-toggle
            >
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
