<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Logs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [color]="'light'">
  <ion-header collapse="condense" class="p-2">
    <ion-toolbar [color]="'light'">
      <ion-title size="large">Logs</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <app-base-ion-list>
          <ion-item></ion-item>
        </app-base-ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
